@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;

    
    background-color: RGB(39,76,67);
    border: tan solid 22px;
	border-top: #bda27e solid 22px;
	border-left: #b19876 solid 22px;
	border-bottom: #c9ad86 solid 22px;
    height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    color: white;
    margin: 20px;
    font-size: 3.5em;
}

.player-turn-message {
    color: white;
    font-size: 1.5em;
    margin: 30px;
    text-align: center;
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: RGB(39,76,67);
    border: tan solid 22px;
	border-top: #bda27e solid 22px;
	border-left: #b19876 solid 22px;
	border-bottom: #c9ad86 solid 22px;
}

.start-screen p {
    color: white;
    text-align: center;
    font-size: 3em;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls input[type="text"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: RGB(39,76,67);
    width: 300px;
    padding: 10px;
    margin: 20px 0;
    border: 3px solid white;
    border-radius: 30px;

    font-size: 20px;
    letter-spacing: 1.5px;
    font-family: "Fredericka the Great", serif;
    color: white;
}

.controls input[type="text"]:focus {
    outline: none;
    border: 3px solid rgb(9, 195, 219);
}

.controls .start-message {
    margin: 20px 0;
    color: rgb(9, 195, 219);
    font-size: 1.5em;
}

.controls .start-btn {
    background-color: RGB(39,76,67);
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px;

    font-size: 20px;
    letter-spacing: 1.5px;
    font-family: "Fredericka the Great", serif;
    color: white;
    width: 130px;
    cursor: pointer;
}

.playerResult-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;
    background-color: RGB(39,76,67);
    border: tan solid 22px;
	border-top: #bda27e solid 22px;
	border-left: #b19876 solid 22px;
	border-bottom: #c9ad86 solid 22px;
}

.winner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-winner {
    font-size: 3em;
    color: white;
    margin: 20px;
}

.display-result {
    font-size: 30px;
    color: white;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.restart-btn {
    background-color: RGB(39,76,67);
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px;
   
    font-size: 15px;
    letter-spacing: 1.5px;
    font-family: "Fredericka the Great", serif;
    color: white;
    width: 130px;
    cursor: pointer;
    margin: 5px;
}

.new-game {
    background-color: RGB(39,76,67);
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px;

    margin: 5px;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-family: "Fredericka the Great", serif;
    color: white;
    width: 130px;
    cursor: pointer;
}

.rematch {
    background-color: RGB(39,76,67);
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px;

    margin: 5px;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-family: "Fredericka the Great", serif;
    color: white;
    width: 130px;
    cursor: pointer;
}


.next-round:disabled {
    background-color: rgb(2, 53, 44);
    border: 3px solid rgb(104, 104, 104);
    color: rgb(104, 104, 104);
}

.next-round {
    background-color: RGB(39,76,67);
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px;
    text-align: center;

    margin: 5px;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-family: "Fredericka the Great", serif;
    color: white;
    width: 130px;
    cursor: pointer;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border: 1px solid white;
    width: 100%;
    margin: 20px;
}

.player1-scores,
.player2-scores,
.round {
    color: white;
    font-size: 1.5em;
    padding: 20px;
}



.gameboard {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    margin: 20px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 80px;
    cursor: pointer;
    border: 2px solid white;
    color:white;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
    border-right: none;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
    border-bottom: none;
}

.square:nth-child(1),
.square:nth-child(4),
.square:nth-child(7) {
    border-left: none;
}
